.comment
  %h2.name= @comment.user_name
  .text
    = @comment.text
  .date_time
    %span.small= date_time(@comment.created_at)

= link_to 'イベントに戻る', group_event_path(group_id: @comment.event.group.id, id: @comment.event), class: 'btn btn-warning'

